<!DOCTYPE html>
<html>
<head>
  <title>PM</title>
<div class="jumbotron">
	<div class="container" align='center'>
		<div>
			<h1 align="center" style="color:white">My Crazy Life: Hello Peter Malone</h1>
		</div>
<ul class="masonry-list">
  <li class="tile-case">
    <a href="#">
      <div class="tile-primary-content">
        <img src="https://pbs.twimg.com/media/Cn7s-3CUsAETFPa.jpg:large" alt="">
      </div>
      <div class="tile-secondary-content">
        <h2>Automation</h2>
        <p>SCADA PCS DCS PLC HMI rsLogix5000 ArchestrA Wonderware PanelView</p>
      </div>
    </a>
  </li>
  <li class="tile-job">
    <a href="#">
      <div class="tile-primary-content">
        <h2>Career</h2>
        <p>Creative and Technical Mind, positive personality seeking Fantastic Employer</p>
      </div>
      <div class="tile-secondary-content">
        <p>Instrument Technician, Industrial Controls, Medical, Utility, Power, R & D</p>
      </div>
    </a>
  </li>
  <li class="tile-facebook">
    <a href="https://www.facebook.com/peter.malone.167">
      <div class="tile-primary-content">
        <h2>Facebook</h2>
        <p>Don't expect to reach me on the phone today. I'm on shift! :)</p>
      </div>
      <div class="tile-secondary-content">
        <p>Friend me on Facebook</p>
      </div>
    </a>
  </li>
  <li class="tile-twitter">
    <a href="https://twitter.com/pnickyd">
      <div class="tile-primary-content">
        <h2>Twitter</h2>
        <p>@pnickyd Hey, we are trying to get things done over here. :)</p>
      </div>
      <div class="tile-secondary-content">
        <p>Follow me on Twitter</p>
      </div>
    </a>
  </li>
  <li class="tile-person">
    <a href="#">
      <div class="tile-primary-content">
        <img src="https://pbs.twimg.com/media/Cn7oVoMVIAAOgv7.jpg:large" alt="">
      </div>
      <div class="tile-secondary-content">
        <div class="tile-secondary-container">
          <h2>Peter Malone</h2>
          <p>Digitalist</p>
        </div>
      </div>
    </a>
  </li>
  <li class="tile-client">
    <a href="#">
      <div class="tile-primary-content">
        <img src="https://pbs.twimg.com/media/Cn7q2vSVUAAb7q2.jpg:large" alt="">
        <div class="tile-secondary-content">
        <h2>Fun and Good Times</h2>
        <p>Music Theater Arts Sports Outdoors</p>
        </div>
      </div>
    </a>
  </li>
</ul>

</head>
<body>


</body>
</html>
